.dashboard{
  /* background: linear-gradient(#ffffff, transparent 150%), #d8d8d8; */
  font-weight: lighter;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
}

.d-header {
  position: relative;
  float: left;
  left: 40px;
  top: 100px;
  font-family: 'SimSun';
  color: #505050;
  font-weight: lighter;
  letter-spacing: 2px;
  animation: fadeIn 1s;
}
/* Add some padding inside the card container */


.home {
  font-family: Helvetica;
  background: linear-gradient(#da6b6b55, transparent 120%), #776161;
  box-shadow: 0 4px 8px 0 rgba(132, 70, 70, 0.319), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;
}

.menubar {
  font-size: 20px;
  top: 37px;
  display: flex;
  flex-direction: column;
  left: 0;
  background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  justify-content: space-around;
  height: 95vh;
  position: fixed;
  width: 300px;
  align-items: center;
  z-index: 9;
  border-right: 2px solid  #91888879 ;
  transition: 0.5s ease-in;
}

.menu-icon {
  display: flex;
  /* flex-direction: column; */
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  font-size: medium;
}

.config {
  /* background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  background-position: fixed; */
  display: flex;
  position: absolute;
  top: 138px;
  left: 400px;
  right: 100px;
  max-width: 800px;
  overflow: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  animation: fadeIn 1s;
}

#save_btn {
  display: flex;
  border: #918888e3;
  background: linear-gradient(#da6b6b55, transparent 120%), #776161;
  color: #ffffffe3;
  margin: 10px;
  max-height: 46px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
  transition: 0.2s;
}

#save_btn:hover {
  color: #4b4b4b;
  font-size: 17px;
  transition: 0.2s ease-in;
}

.config h1 {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 15px;
}

.config p {
  font-size: larger;
  font-family: Helvetica;
  color: #918888e3;
}
.config-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.config-form input {
  border: #918888e3 solid 1px;
  width: 90%;
  padding: 15px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  margin: 10px;
}

.config-form label {
  position: relative;
  float: left;
}

.config-form  ::placeholder {
  font-family: Helvetica;
  color: #91888886;
}

.config-form label {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}

.config-form.error {
  border-color: rgb(226, 100, 100);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  display: block;
}

.config small {
  position: relative;
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  margin-bottom: 5px;
}
#update-result {
  display: flex;
  position: relative;
  align-self: center;
  color:#74b958;
}
#update-result.error {
  display: flex;
  position: relative;
  align-self: center;
  color:rgb(226, 100, 100);
}
.settings-btn {
  cursor: pointer;
  margin: 5px;
  /* flex-direction: column; */
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}

@media screen and (max-width: 850px) {

  body {
    overflow-x: hidden;
  }
  .menubar {
    transform: translateX(-80%);
    transition: transform 0.5s ease-in;
  }
  .menubar span{
    visibility: hidden;
  }
  .menubar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 214px;
  }

  .menubar i {
    cursor: pointer;
    transition: 0.2s;
  }

  .menu-icon:hover {
    font-size: larger;
    transition: 0.2s;
  }
  
  .config {
    top: 50px;
    left: 60px;
    right: 0;
    padding: 50px;
  }
}

/* create event button */
.new-event-btn {
  display: block;
  position: fixed;
  font-size: 20px;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-style: none;
  background: linear-gradient(#da6b6b55, transparent 120%), #776161;
  color: #ffffffe3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s ease-out;
}

.new-event-btn:hover {
  transition: 0.3s ease-out;
  width: 220px;
  border-radius: 20px;
  font-size: 20px;
}

.new-event-btn:hover::after {
  content:"Create New Event";
  animation: fadeIn 1.3s;
  text-transform: lowercase;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.new-event-btn:hover i {
  display: none;
}

.new-event-btn i {
  animation: fadeIn 1.5s;
}