.dashboard{
  /* background: linear-gradient(#ffffff, transparent 150%), #d8d8d8; */
  font-weight: lighter;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
}

.d-header {
  display: flex;
  position: relative;
  float: left;
  top: 100px;
  left: 40px;
  font-family: 'SimSun';
  color: #505050;
  font-weight: lighter;
  letter-spacing: 2px;
}

.home {
  font-family: Helvetica;
  background: linear-gradient(#9e9898, transparent 150%), #505050;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s;
}

.menubar {
  top: 37px;
  display: flex;
  left: 0;
  background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  justify-content: space-around;
  height: 95vh;
  position: fixed;
  width: 300px;
  align-items: center;
  z-index: 99;
  border-right: 2px solid  #91888879 ;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}

.config {
  /* background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  background-position: fixed; */
  display: flex;
  position: absolute;
  top: 138px;
  left: 400px;
  right: 100px;
  max-width: 800px;
  overflow: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

#save_btn {
  display: flex;
  border: #918888e3;
  background-color: #918888;
  color: #ffffffe3;
  margin: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
}

.config h1 {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 15px;
}

.config p {
  font-size: larger;
  font-family: Helvetica;
  color: #918888e3;
}
.config-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.config-form input {
  border: #918888e3 solid 1px;
  width: 90%;
  padding: 15px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  margin: 10px;
}

.config-form label {
  position: relative;
  float: left;
}

.config-form  ::placeholder {
  font-family: Helvetica;
  color: #91888886;
}

.config-form label {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}
/* .config-form i {
  position: absolute;
  color: rgb(226, 100, 100);
  right: 60px;
  top: 40px;
} */
.config-form.error {
  border-color: rgb(226, 100, 100);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  display: block;
}

.config small {
  position: relative;
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  margin-bottom: 5px;
}
#update-result {
  display: flex;
  position: relative;
  align-self: center;
  color:#74b958;
}
#update-result.error {
  display: flex;
  position: relative;
  align-self: center;
  color:rgb(226, 100, 100);
}

@media screen and (max-width: 850px) {
  /* .menubar  {
    right: 10px
  } */
  body {
    overflow-x: hidden;
  }
  .menubar {
    transform: translateX(-75%);
    transition: transform 0.5s ease-in;
  }
  .menu-icon h4{
    visibility: hidden;
  }
  .menu-icon li {
    display: flex;
    position: fixed;
    left: 254px;
  }
  
  .config {
    top: 50px;
    left: 60px;
    right: 0;
    padding: 50px;
  }
}