.dashboard{
  background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
}

.home {
  font-family: Helvetica;
  background: linear-gradient(#9e9898, transparent 150%), #505050;
}

.menubar {
  top: 37px;
  display: flex;
  left: 0px;
  background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  justify-content: space-around;
  height: 95vh;
  position: fixed;
  width: 300px;
  align-items: center;
  z-index: 99;
  border-right: 1px solid  #918888e3 ;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}

.config {
  background: linear-gradient(#ffffff, transparent 150%), #d8d8d8;
  background-position: fixed;
  top: 37px;
  left: 140px;
  width: 100%;
  overflow: auto;
  float: right;
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  padding: 200px;
}

#save_btn {
  display: flex;
  border: #918888e3;
  background-color: #918888;
  color: #ffffffe3;
  margin: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
}

.config h1 {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 15px;
}

.config p {
  font-size: larger;
  font-family: Helvetica;
  color: #918888e3;
}
.config-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.config-form input {
  border: #918888e3 solid 1px;
  width: 90%;
  padding: 15px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  margin: 10px;
}

.config-form label {
  position: relative;
  float: left;
}

.config-form  ::placeholder {
  font-family: Helvetica;
  color: #91888886;
}

.config-form label {
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
}
/* .config-form i {
  position: absolute;
  color: rgb(226, 100, 100);
  right: 60px;
  top: 40px;
} */
.config-form.error {
  border-color: rgb(226, 100, 100);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: transparent;
  color: #918888e3;
  display: block;
}

.config small {
  position: relative;
  font-family: Helvetica;
  color: #918888e3;
  font-weight: lighter;
  margin-bottom: 5px;
}

@media screen and (max-width: 850px) {
  /* .menubar  {
    right: 10px
  } */
  body {
    overflow-x: hidden;
  }
  .menubar {
    transform: translateX(-75%);
    transition: transform 0.5s ease-in;
  }
  .menu-icon h4{
    visibility: hidden;
  }
  .menu-icon li {
    display: flex;
    position: fixed;
    left: 254px;
  }
  
  .config {
    left: 60px;
    padding: 50px;
  }
}