.tags-input-container{
  border: none;
  padding: .5em;
  width: min(80vw, 400px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
  animation: fadeIn 0.5s;
}

.tag-item{
  background-color: #dbcde786;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5em .75em;
  border-radius: 20px;
}
.tag-item .close{
  display: flex;
  height: 18px;
  width: 18px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: 18px;
  cursor: pointer;

}

.tags-input{
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none;
  animation: fadeIn 0.5s;
}

.prefered-tags {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.prefered-tags h1 {
  color: rgba(255, 255, 255, 0.85);
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px;
  animation: fadeIn 0.5s;
}

.prefered-tags input {
  display: flex;
  border: rgba(255, 255, 255, 0.85) solid 1px;
  min-width: 400px;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  background-color: transparent;
  color: white;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  text-decoration-color: white ;
}

.prefered-tags input::placeholder {
  color:rgba(255, 255, 255, 0.85);
}

.prefered-tags button {
  animation: fadeIn 0.5s;
}

.suggestions h1{
  font-family: 'SimSum' monospace;
  position: relative;
  font-size: 48px;
  font-weight: 300;
  color: #505050;
  max-width: 1000px;
  left: 140px;
  top: 90px;
  border-bottom: 0.5px solid  #91888879;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.prefered-tags-config {
  display: flex;
  margin-top: 30px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.prefered-tags-config h1 {
  color: #918888e3;;
  font-weight: lighter;
  text-align: center;
  font-size: 25px;
  animation: fadeIn 0.5s;
}

.prefered-tags-config input {
  display: flex;
  border: #918888e3 1px solid;
  min-width: 400px;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  background-color: transparent;
  color: #918888e3;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  text-decoration-color: white ;
}

.prefered-tags-config input::placeholder {
  color:#918888e3;
}

.prefered-tags-config button {
  animation: fadeIn 0.5s;
}